/* styles.css */

/* Personnalisation des boutons */
.stButton>button {
    /*color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;*/
}

.stButton>button:hover {
    border: none;
    color: #2a003f;
    background-color: white;
}

/* Fond d'écran personnalisé */
body {
    background-image: url('MetroSurfer.png');
    background-size: cover;
    background-position: center;
}
